  <!-- Page Content -->
    <div class="container">

        <hr>

      <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>All Features</h3>
            </div>
        </div>


        <!-- Page Features -->

    <!-- <app-feature-card [feature]="feature" *ngFor="let feature of features"></app-feature-card> -->

        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/600x300" alt="">
                    <div class="caption">
                        <h3>Feature Title {{ numberId }}</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="/feature-details" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/600x300" alt="">
                    <div class="caption">
                        <h3>Feature Title {{ numberId }}</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="/feature-details" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/600x300" alt="">
                    <div class="caption">
                        <h3>Feature Title {{ numberId }}</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="/feature-details" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/600x300" alt="">
                    <div class="caption">
                        <h3>Feature Title {{ numberId }}</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="/feature-details" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
          </div>

        <!-- close of top div -->
        </div>
